html {
    margin: auto;
    max-width: 1008px;
    font-family: helvetica,arial,sans-serif;
}

header h1 {
    text-decoration: none;
    font-size: 3em;
    margin: .25em auto;
}

h1 {
    text-decoration: none;
    font-size: 2.5em;
    margin: .25em 4px;
}

h2 {
    font-size: 2em;
    margin: .25em 4px;
}

h3 {
    font-size: 1.5em;
    margin: .25em 4px;
}

p {
  margin: 1em 0.5em;
}

pre code {
    font-family: monospace;
    margin: 1em;
    padding: 1em;
    display: block;
    background-color: #eeeeee;
}

ul,ol {
    margin: 1em;
    padding: 1em;
    display: block;
}

ol li {
    display: list-item;
    list-style-type: decimal;
    margin: 0.1em 0;
}

ul li {
    display: list-item;
    list-style-type: disc;
    margin: 0.1em 0;
}
